# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Ignore model training outputs
training_experiments/
*.pth
*.pt

# Other common ignores
*.log
*.csv

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Logs or debug
*.log

# OS-specific
.DS_Store
Thumbs.db
